 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.palestra{
  border-radius: 50%;
  text-align: center;
  border: 1px solid #000;
  width: 50%;
  margin-left: 30%;
 
}

.p {
  text-align: center;
}

.cabecalho {
    display: flex;
    list-style: none;
    gap: 60%;
    background-color: #3f3f3f;
    align-items: center;
    height: 8vh;
    overflow: hidden;
}

.opcao {
  padding: 1rem;
  text-decoration: none;
  color: #FFF;
}
.opcao:hover {
    background-color: #FF0000;
}

.cabecalho_dir {
    display: flex;
    gap: 1rem;
}

.logo {
    background-color: green;
}

.sejararo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sejararo h1{
   text-align: center;
   margin-top: 2%;
   margin-bottom: 2%;
}
.palestra__img {
    border-radius: 50%;
    text-align: center;
    width: 50%;
}
.sejararo p {
    text-align: center;
    border: 1px solid #000;
}

.video {
    display: flex;
    flex-direction: column;
}
.video {
    text-align: center;
}
.video iframe {
    align-self: center;
}
.vid_title{
  margin-top: 2%;
  margin-bottom: 2%;
}
.img__bot {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 60px;
}